/* Theme
 * ========================================================================= */
:root {
    --c-bg: hsl(240, 0%, 94%);
    --c-bg-text: hsl(0, 0%, 5%);
    --c-primary: hsl(210, 68%, 43%);
    --c-primary-dark: hsl(212, 68%, 38%);
    --c-primary-light: hsl(210, 72%, 57%);
    --c-secondary: hsl(262, 38%, 52%);
    --c-secondary-dark: hsl(262, 38%, 47%);
    --c-neutral: hsl(0, 0%, 82%);
    --c-neutral-light: hsl(0, 0%, 91%);
    --c-shade: hsla(0, 0%, 0%, 0.25);

    --c-code-comment: #008800;
    --c-code-keyword: #0060ff;
    --c-code-literal: #a85f30;
    --c-code-name: #0080aa;
    --c-code-string:  #a31515;
    --c-code-annotation:  #808000;

    --skin-body: hsl(0, 0%, 87%);
    --skin-content: hsl(240, 0%, 94%);
    --skin-text: hsl(240, 2%, 13%);
}
