---
import Page from '../layouts/page.astro'
---

<Page title="Nothing here">
    <h1>How'd you get here?</h1>
    <p>There's not supposed to be anything here.</p>
    <p><a href="/">Take me home!</a></p>
</Page>

<style>
	h1 {
		margin-bottom: var(--sp-st-o);
	}
</style>
