---
import Page from '../layouts/page.astro'

type ResourceInfo = {
	title: string,
}

const resources = await Astro.glob<ResourceInfo>('./resources/*.md')
---

<Page title="Resources">
	<h1>Resources</h1>
	<ul>
		{resources.map(resource => (
			<li><a href={resource.url}>{resource.frontmatter.title}</a></li>
		))}
	</ul>
</Page>
