---
import type { ResourceInfo } from '../resources'
import { withDates, byAddedDate } from '../resources'
import Page from '../layouts/page.astro'
import ResourcePreview from '../components/ResourcePreview.astro'

const resources = (await Astro.glob<ResourceInfo<string>>('./resources/*.md'))
	.map(withDates)
	.sort(byAddedDate)
---

<Page title="Resources">
	<script slot="scripts" type="module" src="https://unpkg.com/@auroratide/text-filter/lib/define.js"></script>
	<h1>Resources</h1>
	<div class="resource-filter">
		<label for="resource-filter">Filter:</label>
		<input id="resource-filter" is="text-filter" for="resource-list" type="text" placeholder="e.g. Frontend" />
	</div>
	<ul id="resource-list">
		{resources.map(resource => (
			<li><ResourcePreview resource={resource} /></li>
		))}
	</ul>
</Page>

<style>
	h1 {
		margin-bottom: var(--sp-st-o);
	}

	ul {
		list-style: none;
		padding: 0;
	}

	.resource-filter {
		display: flex;
		align-items: center;
		margin-bottom: var(--sp-st-s);
	}

	label {
		display: inline-block;
		margin-right: var(--sp-st-be);
		font-weight: bold;
	}

	input {
		width: min(100%, 37.5rem);
	}
</style>