---
import type { ResourceInfo } from '../types'
import Page from '../layouts/page.astro'
import ResourcePreview from '../components/ResourcePreview.astro'

const resources = await Astro.glob<ResourceInfo>('./resources/*.md')
---

<Page title="Resources">
	<h1>Resources</h1>
	<ul>
		{resources.map(resource => (
			<li><ResourcePreview resource={resource} /></li>
		))}
	</ul>
</Page>

<style>
	ul {
		list-style: none;
		padding: 0;
	}
</style>