---
import GithubIcon from './GithubIcon.astro'
---

<footer>
    <small class="license">Made by <a href="https://auroratide.com">Auroratide</a></small>
    <small class="source"><a href="https://github.com/Auroratide/tarm" aria-label="Source code"><GithubIcon /></a></small>
</footer>

<style>
    footer {
        display: flex;
        align-items: space-between;
        padding: var(--sp-st-cd) 0 var(--sp-st-o);
        line-height: 1;
    }

    .license {
        flex: 1;
    }

    .source a {
        font-size: var(--font-sz-uranus);
        color: var(--skin-text);
    }
</style>