<header>
    <span class="title"><a href="/">The Archive of Random Material</a></span>
    <span class="subtitle">Just a collection of summarized resources I find useful</span>
</header>

<style>
    header {
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        border-bottom: var(--sp-st-h) solid var(--c-neutral);
        padding: var(--sp-st-be) 0;
        margin-bottom: var(--sp-st-s);
    }

    .title {
        font-weight: bold;
    }

    .title a {
        color: var(--c-primary);
        text-decoration: none;
    }

    .subtitle {
        font-size: var(--font-sz-mars);
    }
</style>