<svg class={Astro.props.class} xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 4">
    <title>The Archive of Random Material</title>
    <rect x="0" y="0" width="1" height="1" fill="var(--skin-logo-00)" />
    <rect x="1" y="0" width="1" height="1" fill="var(--skin-logo-10)" />
    <rect x="3" y="0" width="1" height="1" fill="var(--skin-logo-30)" />
    <rect x="1" y="1" width="1" height="1" fill="var(--skin-logo-11)" />
    <rect x="2" y="1" width="1" height="1" fill="var(--skin-logo-21)" />
    <rect x="2" y="2" width="1" height="1" fill="var(--skin-logo-22)" />
    <rect x="3" y="2" width="1" height="1" fill="var(--skin-logo-32)" />
    <rect x="0" y="3" width="1" height="1" fill="var(--skin-logo-03)" />
    <rect x="1" y="3" width="1" height="1" fill="var(--skin-logo-13)" />
    <rect x="3" y="3" width="1" height="1" fill="var(--skin-logo-33)" />
</svg>
