:root {
    --c-grey: hsl(0, 0%, 87%);
    --c-offwhite: hsl(240, 0%, 96%);
    --c-white: hsl(240, 0%, 100%);
    --c-offblack: hsl(240, 2%, 13%);

    --c-aurorablue-l: hsl(210, 72%, 57%);
    --c-aurorablue-d: hsl(210, 68%, 45%);
    --c-auroragreen-l: hsl(155, 50%, 50%);
    --c-auroragreen-d: hsl(155, 44%, 35%);
    --c-fablelavender-l: hsl(262, 64%, 68%);
    --c-fablelavender-d: hsl(262, 58%, 58%);
    --c-fablepink-l: hsl(330, 88%, 68%);
    --c-fablepink-d: hsl(330, 60%, 49%);
    --c-livianyellow-l: hsl(48, 94%, 42%);
    --c-livianyellow-d: hsl(48, 86%, 29%);
    --c-autumnred-l: hsl(357, 98%, 60%);
    --c-autumnred-d: hsl(357, 68%, 45%);
    --c-autumnorange-l: hsl(34, 70%, 52%);
    --c-autumnorange-d: hsl(34, 60%, 37%);
    --c-aellagreen-l: hsl(102, 56%, 46%);
    --c-aellagreen-d: hsl(102, 46%, 36%);
    --c-eventideblack-l: hsl(240, 8%, 56%);
    --c-eventideblack-d: hsl(240, 8%, 20%);
    --c-wintergrey-l: hsl(200, 12%, 68%);
    --c-wintergrey-d: hsl(200, 8%, 44%);

    --font-reg: 'Source Sans Pro', sans-serif;
    --font-code: 'Source Code Pro', monospace;
    --font-sz-base: clamp(1rem, 2.667vw, 1.25rem); /* 2.667 = 100 / 37.5 */

    /* Based on relative planet sizes */
    /* See: https://auroratide.com/posts/using-astronomy-chemistry-and-meteorology-to-name-css-variables */
    --font-sz-mars: 0.75em;
    --font-sz-venus: 0.875em;
    --font-sz-earth: 1em;
    --font-sz-neptune: 1.125em;
    --font-sz-uranus: 1.25em;
    --font-sz-saturn: 1.5em;
    --font-sz-jupiter: 1.75em;

    /* Based on the Periodic Table of Elements */
    /* See: https://auroratide.com/posts/using-astronomy-chemistry-and-meteorology-to-name-css-variables */
    --sp-st-h: 0.075em;
    --sp-st-he: 0.15em;
    --sp-st-be: 0.3em;
    --sp-st-c: 0.45em;
    --sp-st-o: 0.6em;
    --sp-st-s: 1.2em;
    --sp-st-ge: 2.4em;
}