---
import '../design/index.css'
import Container from '../components/Container.astro'
import PageHeader from '../components/PageHeader.astro'
import PageFooter from '../components/PageFooter.astro'
import PixelSnow from '../components/PixelSnow.astro'
import OpenGraph from '../components/OpenGraph.astro'
import { themeClass } from '../theme'

const {
    title,
    theme,
} = Astro.props

const dev = process.env.NODE_ENV === 'dev'
const base = dev ? '/' : '/tarm/'
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <base href={base} />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
        <meta name="author" content="Timothy Foster, Auroratide" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet" />

        <link rel="icon" href="favicon.png" />

        <title>{title} - The Archive of Random Material</title>

        <slot name="opengraph">
            <OpenGraph />
        </slot>

        <script is:inline src="https://unpkg.com/@ungap/custom-elements/es.js"></script>
        <slot name="scripts"></slot>
    </head>
    <body class={themeClass(theme)}>
        <PixelSnow />
        <Container>
            <PageHeader />
            <main><slot></slot></main>
            <PageFooter />
        </Container>
    </body>
</html>